html {
	font-family: monospace;
	font-size: 24pt;
	text-align: center;
	min-height: 95vh;
}

main {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

main > .intro {
	font-family: monospace;
	font-size: 400%;
	font-weight: 500;
}

nav > .navline {
	font-family: monospace;
	font-size: 100%;
	font-weight: 500;
}

.icons-social i {
	font-size: 200%;
	padding: 30px;
}
