html {
	font-family: monospace;
	font-size: 24pt;
}

main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	min-height: 95vh;
}

main > .intro {
	font-family: monospace;
	font-size: 350%;
	font-weight: 500;
}

.tagline {
	font-family: monospace;
	font-size: 200%;
	font-weight: 500;
}

.icons-social i {
	font-size: 200%;
	padding: 30px;
}

.navline {
	font-family: monospace;
	font-size: 100%;
	font-weight: 500;
}

.language {
	font-family: monospace;
	font-size: 80%;
	font-weight: 500;
	position: absolute;
	top: 5%;
	left: 5%;
	text-align: center;
}
