html {
	font-family: monospace;
	font-size: 20pt;
}

main {
	display: flex;
	flex-direction: column;
	justify-content: start;
	text-align: center;
	min-height: 95vh;
}

main > .intro {
	font-family: monospace;
	font-size: 150%;
	font-weight: 100;
}

.tagline {
	font-family: monospace;
	font-size: 100%;
	font-weight: 100;
}

.icons-social i {
	font-size: 100%;
	padding: 30px;
}

.topnav {
	font-family: monospace;
	font-size: 100%;
	font-weight: 100;
}

.topnav a {
	display: inline-block;
	text-decoration-line: none;
	border-color: black;
	background-color: none;
	border-style: solid;
	border-width: 2px;
	border-radius: 15px 15px 15px 15px;
	border-spacing: 5px;
	padding: 5px;
}

hr {
	width: 90%;
	text-align: center;
	border-top: 1px solid black;
}
