/* Цветовая тема */

header {
  background: #FFFFFF;
	color: #000000;
}

main {
  background: #FFFFFF;
	color: #000000;
}

nav {
  background: #FFFFFF;
	color: #000000;
}

a:link {
  color: #000000; 
}

a:visited {
  color: #000000;
}

a:hover {
  color: #000000; 
}

a:active {
  color: #000000; 
}
